* {
      margin: 0 auto;
      padding: 0 auto;
      box-sizing: border-box;
      /* background-color: #f0ec2dd1; */
      /* background-color: #363836; */
}


body {
      font-family: 'Nunito', sans-serif;
      background-color: #474c51;
      color: #384047;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
  }

.container {
display: flex;
text-align: center;
align-items: center;
height: 100vh;
margin: 20px;
margin-top: 120px;
}
table {
/* width: 100%; */
border-collapse: collapse;
}
th, td {
padding: 8px;
border-bottom: 1px solid #000;
text-align: center;
}
thead {
background-color: green;
color: white;
}
tbody tr:nth-child(odd) {
background-color: skyblue;
}
tbody tr:nth-child(even) {
background-color: orange;
}

.tambah-data {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom:-271px;
padding: 5px;
background-color: #f0f0f0;
border-radius: 5px;
}

.tambah-data h1 {
margin: 0;
}

.tambah-data i {
font-size: 20px;
color: green;
cursor: pointer;
}

/* btn-info {
      color:#fff;
      background-color:#17a2b8;
      border-color:#17a2b8;
      box-shadow:none
}
.btn-info:hover{ 
      color:#fff;
      background-color:#138496;
      border-color:#117a8b
}
.btn-info.focus,.btn-info:focus{
      color:#fff;
      background-color:#138496;
      border-color:#117a8b;
      box-shadow:0 0 0 0 rgba(58,176,195,.5)
}
.btn-info.disabled,.btn-info:disabled{
      color:#fff;
      background-color:#17a2b8;
      border-color:#17a2b8
} */

/* Gaya umum untuk tombol */
.btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      user-select: none;
      border: 1px solid transparent;
      padding: .25rem .5rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
    /* Gaya untuk tombol dengan warna latar belakang biru */
    .btn-info {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8;
    }
    
    /* Gaya untuk tombol berukuran kecil */
    .btn-sm {
      padding: .2rem .4rem;
      font-size: .875rem;
      line-height: 1.5;
      border-radius: .2rem;
    }
    
    /* Gaya untuk memberikan margin atas sebesar 2 satuan */
    .mt-2 {
      margin-top: 0.5rem; /* Ganti dengan satuan yang sesuai */
    }

    .btn-danger{color:#fff;background-color:#dc3545;border-color:#dc3545;box-shadow:none}.btn-danger:hover{color:#fff;background-color:#c82333;border-color:#bd2130}.btn-danger.focus,.btn-danger:focus{color:#fff;background-color:#c82333;border-color:#bd2130;box-shadow:0 0 0 0 rgba(225,83,97,.5)}.btn-danger.disabled,.btn-danger:disabled{color:#fff;background-color:#dc3545;border-color:#dc3545}

.register
p
a {
      color: #bd2130;
}
